:root {
  --main-color: #f2bb69;
  --main-sub-color: #f6e284;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  background: linear-gradient(var(--main-color), var(--main-sub-color));
  display: grid;
  position: absolute;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 11fr 1fr;
  grid-template-areas:
  "m1 m1"
  "ft ft";
}
.main {
  grid-area: m1;
}
.footer {
  text-align: center;
  grid-area: ft;
  padding-top: 10px;
}
.social-link {
  margin: 0px;
  padding: 0px 48px;
  text-decoration: none;
}
.logo {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
}
.twitter-logo {
  width: 48px;
  height: 48px;
  padding-bottom: 0px
}

